// Theme
$theme-primary: #1C2432;
$theme-primary-inverse: #FEFEFE;
$theme-secondary: #23292F;
$theme-accent: #2196F3;

// Base
$color: #111111;
$back-color: #FEFEFE;

// --- Framework ---
$btn-primary-bg: $theme-accent;

// --- Components ---
